@model FireAdmin.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

@section Scripts {
    
}

@section SideMenu {
    @Html.Partial("_SideMenuPartial", null, new ViewDataDictionary { { "main-menu", "SiteAdmin" }, { "sub-menu", "Users" } })
}

@section Breadcrumb {
    <li>
        @Html.ActionLink("Users", "Index")
    </li>
    <li class="current">
        @Html.ActionLink("Edit", "Edit")
    </li>
}

@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal row-border" }))
{
<!--=== Anti-Forgery Token ===-->
@Html.AntiForgeryToken()
<!--=== Page Content ===-->
<div class="row padding-top-15px">
    <!--=== Horizontal Forms ===-->
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> Edit @Model.UserName</h4 >
            </div>
            <div class="widget-content">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.UserName, new { @type = "text", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName, null, new { @style = "color: red;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.FirstName, new { @type = "text", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName, null, new { @style = "color: red;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName, null, new { @style = "color: red;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Email, new { @type = "text", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, null, new { @style = "color: red;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" /> | @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- /Horizontal Forms -->
</div>
}
